<ion-header>
    <ion-navbar>
        <ion-title>Add Fuel Entry</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
        <ion-label>Select Vehicle</ion-label>
        <ion-select [(ngModel)]="vehName">
            <ion-option *ngFor="let veh of portstemp" [value]="veh.Device_Name" (ionSelect)="onChnageEvent(veh)">
                {{veh.Device_Name}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item *ngIf="tot_odo != undefined">
        <ion-label>Total Odo</ion-label>
        <ion-input type="number" [(ngModel)]="tot_odo" readonly></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Fuel Type</ion-label>
        <ion-select [(ngModel)]="fuelType">
            <ion-option [value]="CNG" selected>CNG</ion-option>
            <ion-option [value]="Petrol">PETROL</ion-option>
            <ion-option [value]="Diesel">DIESEL</ion-option>
            <ion-option [value]="Other">OTHER</ion-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Liter(s)</ion-label>
        <ion-input type="number" [(ngModel)]="liter"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Amount</ion-label>
        <ion-input type="number" [(ngModel)]="amt"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Date</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="ddate" name="ddate">
        </ion-datetime>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="footSty">
    <ion-toolbar>
        <ion-row no-padding>
            <ion-col width-50 style="text-align: center;">
                <button ion-button clear color="light" (click)="submit()">SUBMIT</button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>
