<ion-header>
  <ion-navbar>
    <ion-title>{{'Settings' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-icon *ngIf="isChecked" name="mic" item-start></ion-icon>
    <ion-icon *ngIf="!isChecked" name="mic-off" item-start></ion-icon>
    <ion-label>{{'Voice Notification' | translate}}</ion-label>
    <ion-checkbox color="dark" [(ngModel)]="notif" (click)="setNotif(notif)" item-right></ion-checkbox>
  </ion-item>
  <ion-item (tap)="rootpage()">
    <ion-icon name="checkmark-circle-outline" item-start></ion-icon>
    <ion-label>{{'Default Page' | translate}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="map" item-start></ion-icon>
    <ion-label color="dark">{{'Map Type' | translate}}</ion-label>
    <ion-select [(ngModel)]="mapKey">
      <ion-option *ngFor="let mapKey of maps" [value]="mapKey" (ionSelect)="onChangeMap(mapKey)"
        [selected]="selectedMapKey === mapKey">{{ mapKey }}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-icon name="custom-fuel" item-start></ion-icon>
    <ion-label color="dark">{{'Fuel Unit' | translate}}</ion-label>
    <ion-select [(ngModel)]="fuelKey">
      <ion-option *ngFor="let fuelKey of fuels" [value]="fuelKey" (ionSelect)="onChangeFuel(fuelKey)"
        [selected]="islogin.fuel_unit === fuelKey">{{ fuelKey }}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-icon name="flag" item-start></ion-icon>
    <ion-label color="dark">{{'Language' | translate}}</ion-label>
    <ion-select [(ngModel)]="lankey" (ionChange)="setLanguage(lankey)">
      <ion-option *ngFor="let lan of languages" [value]="lan.key" [selected]="lankeyname === lan.key">{{ lan.name }}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-icon name="moon" item-start></ion-icon>
    <ion-label color="dark">{{'Night Mode' | translate}}</ion-label>
    <ion-toggle color="gpsc" [(ngModel)]="nightMode" (ngModelChange)="update($event)"></ion-toggle>
  </ion-item>

  <ion-item (click)="showAlert()">
    <ion-icon name="lock" item-start></ion-icon>
    <ion-label>{{'Set Immobilize Password' | translate}}</ion-label>
  </ion-item>

  <!-- <ion-item (click)="notifSet()" *ngIf="islogin.isSuperAdmin || islogin.isDealer">
    <ion-icon name="notifications-outline" item-start></ion-icon>
    <ion-label color="dark">{{'Notification Settings' | translate}}</ion-label>
  </ion-item> -->
  <ion-item (click)="notifSet()">
    <ion-icon name="notifications-outline" item-start></ion-icon>
    <ion-label color="dark">{{'Notification Settings' | translate}}</ion-label>
  </ion-item>
</ion-content>