<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Add Fastag</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col>Choose Vehicle Type</ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4 (click)="addEvent();">
      <ion-card [ngStyle]="{'background-color': buttonColor}">
        <ion-row>
          <ion-col col-12>
            <img style="width: 50px; margin: auto;" src="assets/imgs/fastag/Truck.png" />
          </ion-col>
          <ion-col col-12 text-center>TRUCK</ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col col-4 (click)="addEvent1();">
      <ion-card [ngStyle]="{'background-color': buttonColor1}">
        <ion-row>
          <ion-col col-12>
            <img style="width: 50px; margin: auto;" src="assets/imgs/fastag/bus.png" />
          </ion-col>
          <ion-col col-12 text-center>BUS</ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col col-4 (click)="addEvent2();">
      <ion-card [ngStyle]="{'background-color': buttonColor2}">
        <ion-row>
          <ion-col col-12>
            <img style="width: 50px; margin: auto;" src="assets/imgs/fastag/cab.png" />
          </ion-col>
          <ion-col col-12 text-center>TAXI</ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4 (click)="addEvent3();">
      <ion-card [ngStyle]="{'background-color': buttonColor3}">
        <ion-row>
          <ion-col col-12>
            <img style="width: 50px; margin: auto;" src="assets/imgs/fastag/car.png" />
          </ion-col>
          <ion-col col-12 text-center>CAR</ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col col-4 (click)="addEvent4();">
      <ion-card [ngStyle]="{'background-color': buttonColor4}">
        <ion-row>
          <ion-col col-12>
            <img style="width: 50px; margin: auto;" src="assets/imgs/fastag/motorcycle.png" />
          </ion-col>
          <ion-col col-12 text-center>BIKE</ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col col-4 (click)="addEvent5();">
      <ion-card [ngStyle]="{'background-color': buttonColor5}">
        <ion-row>
          <ion-col col-12>
            <img style="width: 50px; margin: auto;" src="assets/imgs/fastag/Truck.png" />
          </ion-col>
          <ion-col col-12 text-center>OTHERS</ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-list>
    <ion-item>
      <ion-input type="number" [(ngModel)]="numFastag" placeholder="Enter number of FasTags required">

      </ion-input>
    </ion-item>
  </ion-list>
  <ion-row>
    <ion-col>
      <button ion-button block color="gpsc" (click)="fastagReq()">Send Rquest</button>

    </ion-col>
  </ion-row>
</ion-content>