<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Value Screen</ion-title>
    <ion-buttons end>
      <ion-datetime class="dateStyle" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="to"
        (ionChange)="getDailyReportData()" style="color: white;"></ion-datetime>
    </ion-buttons>
  </ion-navbar>
  <ion-item style="background-color: #fafafa;">
    <ion-label style="margin-top: 15px;">selectvehicle</ion-label>
    <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
      itemTextField="Device_Name" [canSearch]="true" (onChange)="getSelectedId(selectedVehicle)">
    </select-searchable>
  </ion-item>

</ion-header>


<ion-content>
  <ion-grid *ngFor="let item of deviceReport">
    <ion-row>
      <ion-col col-12 offset-sm="3">
        <ion-card style="background-image: linear-gradient(to right top, #ff5177, #ff6c88, #ff849a, #fc9aab, #f9afbb);padding: 5px">
          <p style="color: white;">Total Distance</p>
          <ion-row>
            <ion-col col-12>
              <p>
                <span style="font-size: xx-large; color: white;" *ngIf="item.today_odo">{{
                      item.today_odo | number: "1.0-2"
                    }}</span>
                <span *ngIf="!item.today_odo">00.00</span>
                <span style="color: white;">KM</span>
                <ion-buttons style="float: right;
                    font-size: xx-large; color: white;"><img src="assets/imgs/distan.png" style="width: 50px;">
                </ion-buttons>
              </p>
            </ion-col>
          </ion-row>
          <p style="color: white;">Total distance travelled</p>
        </ion-card>

        <ion-card
          style="background-image: linear-gradient(to right top, #1ef015, #40f144, #57f260, #6bf278, #7ef28d); padding: 5px;">
          <p style="color: white;">Running(Hr:Min)</p>
          <ion-row>
            <ion-col col-12>
              <p>
                <span style="font-size: xx-large; color: white;"
                  *ngIf="item.today_running">{{ item.today_running }}</span>
                <span *ngIf="!item.today_running">00.00</span>
                <span style="color: white;"></span>
                <ion-buttons style="float: right;
                    font-size: xx-large; color: white;"><img src="assets/imgs/playbtn.png" style="width: 50px;">
                </ion-buttons>
              </p>
            </ion-col>
          </ion-row>
          <p style="color: white;">Total running time</p>
        </ion-card>

        <ion-card
          style="background-image: linear-gradient(to right top, #f0151f, #ee2932, #ea3842, #e64550, #e0515d); padding: 5px;">
          <p style="color: white;">Stop(Hr:Min)</p>
          <ion-row>
            <ion-col col-12>
              <p>
                <span style="font-size: xx-large; color: white;"
                  *ngIf="item.today_stopped">{{ item.today_stopped }}</span>
                <span *ngIf="!item.today_stopped">00.00</span>
                <span style="color: white;"></span>
                <ion-buttons style="float: right;
                        font-size: xx-large; color: white;"><img src="assets/imgs/stopping.png" style="width: 50px;">
                </ion-buttons>
              </p>
            </ion-col>
          </ion-row>
          <p style="color: white;">Total stopped time</p>
        </ion-card>

        <ion-card
          style="background-image: linear-gradient(to right top, #cbd500, #cada26, #cadf3a, #cae44a, #cae959); padding: 5px;">
          <p style="color: white;">Idle</p>
          <ion-row>
            <ion-col col-12>
              <p>
                <span style="font-size: xx-large; color: white;" *ngIf="item.t_idling">{{ item.t_idling }}</span>
                <span *ngIf="!item.t_idling">00.00</span>
                <span style="color: white;"></span>
                <ion-buttons style="float: right;
                        font-size: xx-large; color: white;"><img src="assets/imgs/steering-wheel.png"
                    style="width: 50px;"></ion-buttons>
              </p>
            </ion-col>
          </ion-row>
          <p style="color: white;">Total idle time</p>
        </ion-card>

        <ion-card
          style="background-image: linear-gradient(to right top, #72bee7, #6cbce7, #66bbe8, #60b9e8, #59b7e9); padding: 5px;">
          <p style="color: white;">Out of reach</p>
          <ion-row>
            <ion-col col-12>
              <p>
                <span style="font-size: xx-large; color: white;" *ngIf="item.t_ofr">{{ item.t_ofr }}</span>
                <span *ngIf="!item.t_ofr">00.00</span>
                <span style="color: white;"></span>
                <ion-buttons style="float: right;
                        font-size: xx-large; color: white;"><img src="assets/imgs/no-wifi.png" style="width: 50px;">
                </ion-buttons>
              </p>
            </ion-col>
          </ion-row>
          <p style="color: white;">Total Out of reach</p>
        </ion-card>

        <ion-card
          style="background-image: linear-gradient(to right top, #5ce0e0, #5ee1cf, #6ae0bc, #7bdfa8, #8fdc93); padding: 5px;">
          <p style="color: white;">Fuel Con(Litre)</p>
          <ion-row>
            <ion-col col-12>
              <p>
                <span style="font-size: xx-large; color: white;">{{ item.mileage }}</span>
                <span style="color: white;"></span>
                <ion-buttons style="float: right;
                    font-size: xx-large; color: white;"><img src="assets/imgs/fuelcon.png" style="width: 50px;">
                </ion-buttons>
              </p>
            </ion-col>
          </ion-row>
          <p style="color: white;">Total fuel consumption</p>
        </ion-card>

        <ion-card
          style="background-image: linear-gradient(to right top, #29e081, #7fdb7e, #a7d586, #c0d097, #cdcdae); padding: 5px;">
          <p style="color: white;">Max Speed</p>
          <ion-row>
            <ion-col col-12>
              <p>
                <span style="font-size: xx-large; color: white;" *ngIf="item.maxSpeed">{{ item.maxSpeed }}</span>
                <span *ngIf="!item.maxSpeed">00.00</span>
                <span style="color: white;">Km/Hr</span>
                <ion-buttons style="float: right;
                            font-size: xx-large; color: white;"><img src="assets/imgs/max.png" style="width: 50px;">
                </ion-buttons>
              </p>
            </ion-col>
          </ion-row>
          <p style="color: white;">Max speed</p>
        </ion-card>

        <ion-card
          style="background-image: linear-gradient(to right top, #9f94c0, #88a7d9, #66bce6, #49cee4, #57ded2); padding: 5px;">
          <p style="color: white;">Trips</p>
          <ion-row>
            <ion-col col-12>
              <p>
                <span style="font-size: xx-large; color: white;" *ngIf="item.today_trips">{{ item.today_trips }}</span>
                <span style="font-size: xx-large; color: white;" *ngIf="!item.today_trips">00.00</span>
                <span style="color: white;"></span>
                <ion-buttons style="float: right;
                            font-size: xx-large; color: white;"><img src="assets/imgs/trip.png" style="width: 50px;">
                </ion-buttons>
              </p>
            </ion-col>
          </ion-row>
          <p style="color: white;">Total trips</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>