<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Fastag List</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let item of fastagList">
      <ion-avatar item-start>
        <!-- <img src="assets/imgs/fastag/{{item.vehicle_type}}.png" /> -->
        <img *ngIf="item.vehicle_type == 'Truck' || item.vehicle_type == 'Other'" src="assets/imgs/fastag/Truck.png" />
        <img *ngIf="item.vehicle_type == 'Bus'" src="assets/imgs/fastag/bus.png" />
        <img *ngIf="item.vehicle_type == 'Car'" src="assets/imgs/fastag/car.png" />
        <img *ngIf="item.vehicle_type == 'Taxi'" src="assets/imgs/fastag/cab.png" />
        <img *ngIf="item.vehicle_type == 'Bike'" src="assets/imgs/fastag/motorcycle.png" />
      
      </ion-avatar>
      <ion-row>
        <ion-col col-12>
          <h3>{{item.vehicle_type}}</h3>
        </ion-col>
        <ion-col col-12>
          <p>
            <ion-icon name="calendar"></ion-icon>&nbsp;&nbsp;{{item.Date | date:'medium'}}
          </p>
        </ion-col>
      </ion-row>
      <ion-badge item-end>Quantity - {{item.quantity}}</ion-badge>
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="gpsc" (click)="addFastag()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>